
.login {
    width: 500px;
    max-width: 100%;
}

@media (max-width: 575px) {
    .login {
        width: 100%;
    }
}

.login .form-control {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    margin-bottom: 7px;
}


.login-btn {
    
    padding: 13px 30px;
    background-color: #000;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 1px transparent solid;
}

.menu-buttons {
    height: 100%;
    width: 100%;
    font-size: 30px;

}

.login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}


