.login {
    width: 500px;
    max-width: 100%;
}

@media (max-width: 575px) {
    .login {
        width: 100%;
    }
}

.login .form-control {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    margin-bottom: 7px;
}


.login-btn {

    padding: 13px 30px;
    background-color: #000;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 1px transparent solid;
}

.menu-buttons {
    height: 100%;
    width: 100%;
    font-size: 30px;

}

.login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.transfer-btn {
    padding: 13px 30px;
    background-color: #000;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 1px transparent solid;
}


.transfer-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}




.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 45px;
    border: 2px solid #fff;
    text-align: center;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}



.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    
    color: #333;
}




@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}